<app-cv></app-cv>

<!-- <app-pere></app-pere>
<!-- <div class="alert alert-primary">
  <app-second></app-second>
  GTI
  <i class="fa fa-4x fa-smile-o" aria-hidden="true"></i>
  <app-first></app-first>
</div>
<app-first></app-first>
 -->
<!-- <app-color></app-color>
<app-two></app-two>
<app-card></app-card> -->
<!-- <p>In app component</p>
<app-first></app-first>
<app-second></app-second>
 -->

<!-- appColor('pink') -->
<!-- <app-color [defaultColor]="'pink'"></app-color>
<app-color [defaultColor]="'yellow'"></app-color>
<app-color></app-color> -->
<!--
<ol>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
</ol>

<app-somme></app-somme>
<app-somme [x]="4"></app-somme>
<app-somme [y]="7"></app-somme>
<app-somme [y]="7" [x]="3"></app-somme> -->
